<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.b5m.app"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name=".MyApplication"
            android:theme="@android:style/Theme.Holo">
        <activity android:name="com.b5m.loader.HomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.b5m.loader.ForwardActivity" android:label="Forward">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="app"></data>
            </intent-filter>
        </activity>
        <activity android:name="com.b5m.loader.MainActivity" android:label="Main">
        </activity>
        <activity android:name="com.b5m.loader.LoaderActivity" android:label="Loader">
        </activity>
    </application>
</manifest>
